<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>counter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC72B5F31C82694E0069DBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC72B6071C82694F0069DBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC72B6121C82694F0069DBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
